<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="card-class.html">
<link rel="import" href="card-teacher.html">
<link rel="import" href="page-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="bioproject-app">
  <template>
      <style>
          :host {
            display: block;
          }
      </style>
    
    <page-header></page-header>  
    <card-class></card-class>
    <card-teacher></card-teacher>
      
  </template>

  <script>
    class BioprojectApp extends Polymer.Element {
      static get is() { return 'bioproject-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bioproject-app'
          }
        };
      }
    }

    window.customElements.define(BioprojectApp.is, BioprojectApp);
  </script>
</dom-module>
