<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="card-class">
       
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 30px;
      }   
    </style>

      <paper-card image="https://www.techdotmatrix.com/wp-content/uploads/2016/10/Programming-languages.jpg" alt="Class Picture" style="width:525px;height:300px;">
        <div class="card-content">
            Advanced Topics in Computer Programming is a class where students apply computer science principles and build cool stuff. 
        </div>
    </paper-card> 
  </template>
    
    
  <script>
      Polymer({
          is: 'card-class',
      });      
  </script>
</dom-module>



