<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="card-teacher">
       
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 30px;
      }
    </style>

      <paper-card image="https://www.bgsu.edu/content/dam/BGSU/learning-commons/images/spotlights/blade-frisch/Pic-2.jpg" alt="Class Picture" style="width:525px;height:300px;">
        <div class="card-content">
            Blade Frisch is an educator and computer scientist who focuses on creating applications to enhance the quality of life of individuals with disabilities and teaching students to program their own tools.

            He currently teachs 6th through 12th grade programming classes at the Community School of Naples. He previously worked as the Computer Science tutor at the BGSU Learning Commons where he started the Lunch 'n' Learn program to help students take their studies beyond the topics learned in the classroom. 
        </div>
        <div class="card-actions">
            <paper-button>Like</paper-button>
            <paper-button>Dislike</paper-button>
        </div>
    </paper-card> 
  </template>
    
    
  <script>
      Polymer({
          is: 'card-teacher',
      });      
  </script>
</dom-module>
      
